<div class="container">
    <div class="row mt-5">
        <div class="d-flex justify-content-center">
            <div class="col-8">
                <h2>Login</h2>

                <form action="/ControlPanel/loginSubmit" method="post">
                    <input type="text" placeholder="username" name="Username" class="form-control"/><br />
                    <input type="text" placeholder="password" name="Password" class="form-control"/><br />
                    <input type="submit" value="Login" class="btn btn-outline-dark"/>
                </form>
            </div>
        </div>
    </div>
</div>