<h1>Welcome to Ascension Core CMS</h1>

<p>For more information see <a href="https://github.com/ChrisKayAyling/Acension">Getting started developing...</a></p>

<b>Now supporting SQLite3</b>
<pre>{{ dump(data.DatabaseResult) }}</pre>