<div class="container">
    <div class="row mt-5">
        <div class="d-flex justify-content-center">
            <div class="col-8">

                <h4>Welcome...</h4>
                <p>For more information see <a href="https://github.com/ChrisKayAyling/Acension">Getting started
                        developing...</a></p>

                <b style="display:none;">Now supporting SQLite3</b>
                <pre style="display:none;">{{ dump(data.DatabaseResult) }}</pre>

            </div>
        </div>
    </div>
</div>