<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Welcome...</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Welcome...</h4>
                    </div>
                    <div class="card-body">
                        <p>For more information see <a href="https://github.com/ChrisKayAyling/Acension">Getting started
                                developing...</a></p>

                        <b style="display:block;">Now supporting SQLite3</b>
                        <pre style="display:block;">{{ dump(data.DatabaseResult) }}</pre>
                    </div>
                </div>
            </div>
        </div>
</div>
